<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    <title>Aces Up</title>
  </head>
  <body>
    <div id="container">
    	<div id="slot1" class="slot"></div>
    	<div id="slot2" class="slot"></div>
    	<div id="slot3" class="slot"></div>
    	<div id="slot4" class="slot"></div>
    </div>

    <div id="stack"></div>
    <script type="text/javascript" src="/static/script.js"></script>
  </body>
</html>
