html, body {
	height: 100vw;
	width: 100vw;
	margin: 0px;
	background: #252;
	font-family: 'Questrial', sans-serif;
	user-select: none;
	overflow: hidden;
	}

* {
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;

}

#container {
	position: relative;
	width: 100vw;
	margin: 0 auto;
	height: 33.3%;
	background: transparent;
	}

.slot {
	position: relative;
	margin: 1.5%;
	width: 21.6%;
	max-height: 94.5%;
	float: left;
	background: #2323ff;
	}

.empty {
	border-radius: 4px;
	background: #262;
	width: 21.6%;
	height: 94.5%;
	}

.moveReady {
	width: 21.3%;
	height: 93.5%;
	border: 0.8px solid #151515;
	}

#stack {
	background: transparent;
	position: absolute;
	width: 21.3%;
	height: 38.5%;
	bottom: -2.5em;
	margin: auto;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	}

.image {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 1;
	transition: opacity 400ms;
	cursor: pointer;
	}

img:hover {
	opacity: 0.93;
	}

#stack:hover {
	color: #111;
	}

	@media screen and (min-width: 600px) {

		#container {
			position: relative;
			width: 500px;
			margin: 0 auto;
			height: 50vh;
			backgrond: white;
			}

		.slot {
			position: relative;
			margin: 5px;
			width: 110px;
			max-height: 158px;
			float: left;
			background: transparent;
			}

		.empty {
			border-radius: 8px;
			background: #262;
			width: 110px;
			height: 156px;
			}

		.moveReady {
			width: 108px;
			height: 154px;
			border: 1px solid #151515;
			}

			#stack {
				background: transparent;
				position: fixed;
				width: 10px;
				bottom: 10px;
				margin: auto;
				height: 158px;
				border-radius: 8px;
				cursor: pointer;
				text-align: center;
				font-size: 23px;
				font-weight: bold;
				}

	}
